@using AspNetCoreMvcDynamicViews.Views.Shared.Components.DynamicDisplay
@model DynamicDisplayModel

<h4>Holes: @Model.NoOfHoles</h4>

<div class="box" style="width:@Model.GetAsStringWithPx(Model.BoxWidth)">
    <span class="dot"></span>
</div>

<div class="box" style="width:@Model.GetAsStringWithPx(Model.BoxWidth)">
    <span class="dot" ></span>
    <span class="dot"></span>
</div>

